<div class="box">
  <h1 class="title is-2">Post by
    <%=@post.user.username%></h1>
  <hr>
  <div class="columns">
    <div class="column is-half">
      <div class="box">
        <h2 class="subtitle is-4"><%=@post.title%></h2>

        <%if (@post.content.include? "http://" or @post.content.include? "https://")%>
          <figure class="image">
            <img src="<%=@post.content%>">
          </figure>
        <%else%>
          <hr>
          <p><%=@post.content%></p>
        <%end%>

        <% if user_is_owner(@post.user)%>
          <p class="is-pulled-right">
            <small>[
              <%= link_to "Edit post", edit_user_post_path(@post.user,@post)%>
              &nbsp;|&nbsp;
              <%= link_to "Delete post", @post, method: :delete, data: { confirm: "Do you really want to delete this post?" } %>
              ]
            </small>
          </p>
        <%end%>
      </div>
    </div>
  </div>

  <%= form_for @vote do |f| %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :post_id %>
  <span class="tag is-link">
    <%= label :like, 'Up', class:"tag is-link" %>&nbsp;&nbsp;&nbsp;
    <%= f.radio_button :like, true, {id: "Upvote"} %>

  </span>

  <span class="tag is-danger">
    <label >
      <%= label :like, 'Down' %>&nbsp;
      <%= f.radio_button :like, false, {id: "Downvote"}%>
    </label>
  </span>
  <small>
    <%= f.submit "Vote"%></small>
<% end %>

<hr>
<p class="is-pulled-right">
  [<%= link_to "Add Comment ", new_post_comment_path(@post.id)%>]
</p>
<h1 class="subtitle is-4">Comments</h1>

<%@post.comments.each do |comment|%>
  <div class="box">
    <p><%= comment.content%></p>
    <small>
      <p class="is-pulled-right">By user
        <%=link_to comment.user.username, user_path(comment.user) %>
        <% if user_is_owner(comment.user)%>
          <small>
            [<%= link_to "Edit", edit_post_comment_path(@post,comment) %>] | [<%= link_to "Delete", comment, method: :delete, data: { confirm: "Do you really want to delete this comment?", class:'message' } %>]
          </small>
        <%end%>
      </p>
    </small>
  </div>
<%end%>

</div>
